
/* General Layout */

html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
background-color: #8caae3;
font-size: 3rem;
font-family: sans-serif;
}

input{
    font-size: 2rem;
    padding: 1.2rem;
    border-radius:5px 0px 0px 5px;
    border: none;
    width: 500px;
}

input:focus{
    outline: none;
}

h2{
    font-size: 4rem;
    font-weight: bold;
}

button{
    border-radius: 0px 5px 5px 0px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 1rem 2rem;
    background-color: #4C617A;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: none;
}

button:hover{
    background: #596e95;
  
}

.inputContainer{
    display: flex;
}


.searchContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20rem;
    gap: 20px;
    text-align: left;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* header styles */

.header{
    background-color: #1C2321;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
}






/* flag */
.flagContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    width: 33%;
    height: 325px;
    align-self: center;
}

img{
    height: 250px;
}

#country{
    text-align: center;
}

/* main content */

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.infoContainer1,
.infoContainer2,
.infoContainer3,
.infoContainer4{
    display: flex;
    gap: 20px;
}

.infoBlock1,
.infoBlock2,
.infoBlock3,
.infoBlock4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid red;
    height: 200px;
    width: 600px;
    align-self: center;
    background-color: #feffff;
    border: 5px solid black;
    border-radius: 10px;
}

/* .infoBlock2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid red;
    height: 200px;
    width: 600px;
align-self: center;
background-color: #C8CCCA;
border: 5px solid black;
border-radius: 10px;
}

.infoBlock3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid red;
    height: 200px;
    width: 600px;
align-self: center;
background-color: #C8CCCA;
border: 5px solid black;
border-radius: 10px;
}
.infoBlock4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid red;
    height: 200px;
    width: 600px;
align-self: center;
background-color: #C8CCCA;
border: 5px solid black;
border-radius: 10px;
} */

h3.contentHeading{
    font-weight: bold;
    text-decoration: underline;
}

h4.displayInfo{
    color: rgb(35, 35, 35);
    font-size: 3.3rem;
}



.displayInfo{
 text-align: center;   
}



/* Media queries */


@media all and (max-width: 1230px){
    .mainContent {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .infoContainer1,
    .infoContainer2,
    .infoContainer3,
    .infoContainer4{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

}


@media all and (max-width:585px){

    #countryInput{
        width: 350px;
        border-radius: 0;
    }

    #search{
        border-radius: 0;
    }

    .inputContainer{
        flex-direction: column;
    }


    h2{
        text-align: center;
    }
    .flagContainer{
        width: 375px;
    }
    div.flagContainer img{
        width: 100%;

    }
    header{
        text-align: center;
    }

}


@media all and (max-width: 501px){

    #capitalDisplay{
        font-size: 2.9rem;
    }

}